/**基本格式开始***************/
body,div,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,form,input,textarea,p {
	margin:0px;
	padding:0px;
	font-size:13px;
}
ul {
	list-style:none;
}
img,a img {
	border:none;
}
a {
	text-decoration:none;
}
a:hover {
	text-decoration:underline;
}
.auto {
	width:960px;
	margin:0 auto;
}
/**基本格式结束***************/
body {
	background:url(body_bg.jpg) repeat-x;
}
#top {
	height:100px;
	margin-top:15px;
}
#top .nav {
	height:46px;
	background:url(mainnav_bg.gif) repeat-x;
}
#top .nav .same {
	width:10px;
	height:46px;
}
#top .nav .left {
	float:left;
}
#top .nav .right {
	float:right;
}
#top .nav .mainNav {
	width:940px;
	float:left;
}
#top .nav .mainNav .logo {
	width:163px;
	height:46px;
	display:block;
	float:left;
}
#top .nav .mainNav ul {
	width:770px;
	height:46px;
	float:left;
}
#top .nav .mainNav ul li {
	float:left;
}
#top .nav .mainNav ul li a {
	color:#576267;
	font-size:14px;
	display:block;
	width:135px;
	height:46px;
	line-height:46px;
	text-align:center;
	background:url(main_line.gif) no-repeat;
}
#top .nav .mainNav ul li a:hover {
	text-decoration:none;
	background:url(green_bg.jpg);
	color:#ffffff;
}
#top .nav1 a {
	color:#979693;
}
#top .nav1 .enter {
	width:190px;
	margin:10px 0 0 0;
	float:right;
}
#top .nav1 a:hover {
	text-decoration:none;
}
#top .nav1 a.cart:hover {
	color:#43B43E;
}
#top .nav1 form.search {
	margin:10px 20px 0 0;
	float:right;
	display:inline;
	width:186px;
	height:23px;
	background:url(search_03.gif) no-repeat;
}
#top .nav1 form.search .keywords {
	width:140px;
	height:18px;
	display:inline;
	float:left;
	border:0px solid #cccccc;
	margin:2px 0 0 10px;
}
#top .nav1 form.search .btn {
	width:15px;
	height:16px;
	background:url(search_biao.gif);
	border:none;
	cursor:pointer;
	margin:4px 0 0 6px;
	display:inline;
	float:left;
}
#position {
	height:40px;
	line-height:40px;
	border-top:2px solid #F18336;
	color:#979693;
}
#position a {
	color:#333333;
}

#bottom {
	text-align:center;
	padding:50px 0;
}
#bottom p {
	color:#999999;
}
#bottom p a {
	color:#999999;
	font-size:30px;
}